$fonthead: 'Rubik', sans-serif;
$fontstack: 'Rubik', sans-serif;
$colordark: #2c82a9;
$coloryellow: hwb(43 36% 0%);
$colorblue: #2c82a9;
$colorpink: #2c82a9;
$colordefault: #454360;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
  -moz-transition: all $second ease-in-out;
  transition: all $second ease-in-out;
}


@mixin full-height($second) {
  height: 100%
}